/* src/index.css */
@import "tailwindcss";

/* opcional: estilos propios */
html, body, #root { height: 100%; }

body {
  font-family: 'Arial Black, Franklin Gothic Medium, Futura Bold, sans-serif';
  letter-spacing: 1px;
}


:root {
  --pink-main: #FF008C;
  --pink-neon: #FA66B7;
  --bg-dark: #0a0a0a;
  --text-light: #ffe6fb;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.scene-glow {
  box-shadow:
    0 0 10px var(--pink-neon),
    0 0 20px var(--pink-main);
}

.scene-border {
  border: 2px solid var(--pink-main);
}

.scene-text {
  color: var(--pink-main);
  text-shadow: 0 0 8px var(--pink-neon);
}

